main{
    background-color: rosybrown;
}
.sigma{
    border-radius: 150px;
    margin:80px;
    background-color: rgb(209, 69, 69);
    font-size:30px;
    text-align: center;}

  .tayler{
    border-radius:100px;
    margin: 60;
    padding: 10px;
    background-color: rgb(113, 30, 190);
  }
